*{
    margin: 0;
    padding: 0;
   
}




/* Swiper base */
.swiper {
  width: 100%;
  padding: 20px 0;
}

/* Wrapper */
.swiper-wrapper {
  padding-left: 15px;
}

/* Cada slide (ESSENCIAL) */
.swiper-slide {
  width: 280px;
  margin-right: 30px;
}

/* Card */
.card {
  
  min-height: 350px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Título */
.card-title {
  text-align: center;
  margin-bottom: 10px;
}

.imglogopai{
    border-radius: 50%;
}

.divpai1{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.titlepai{
    margin-top: 20px;
}

.p-preço{
    margin-top: 20px;
}


















.footer-p{
    color: white;
    background-color: black !important;
    
}
.p-footer{
    background-color: black !important;
}

footer{
    margin-top: 50px;
    background-color: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-footer2{
    background-color: black !important;
    text-align: center;
}

