* {
  margin: 0;
  padding: 0;
  background-color: #c0c0c0;
}

/* Swiper NÃO pode ter padding */
.swiper {
  width: 100%;
  padding: 0;
}

/* Wrapper SEM padding */
.swiper-wrapper {
  padding: 0;
}

/* Slide NÃO pode ter margem */
.swiper-slide {
  width: 280px;
  display: flex;
  justify-content: center;
}

/* Card circular */
.card {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  
  border: 2px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.cards1{
    margin-top: 120px;
}

.promo-dia{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-p{
    color: white;
    background-color: black !important;
    
}
.p-footer{
    background-color: black !important;
}

footer{
    margin-top: 50px;
    background-color: #000000;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-footer2{
    background-color: black !important;
    text-align: center;
}

.swiper-slide {
  width: 280px; /* padrão */
}

@media (max-width: 768px) {
  .card {
    width: 220px;
    height: 220px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .card {
    width: 200px;
    height: 200px;
    font-size: 16px;
  }
}