*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faleconosco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;

    
}

.zap{
    border: 1px solid black;
    width: 370px;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 15px;
    
}

.zapf{
    display: flex;
    gap: 30px;
}

.instagram{
    border: 1px solid black;
    width: 370px;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.insta{
    display: flex;
    gap: 30px;
}

.facebook{
    border: 1px solid black;
    width: 370px;
    height: 45px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.face{
    display: flex;
    gap: 30px;
}

.email{
    border: 1px solid black;
    width: 370px;
    height: 45px;
    border-radius: 15px;
}

.emailf{
    display: flex;
    gap: 30px;
}

.iconemail{
    margin-left: 10px;
     margin-top: 10px;

}

.iconzap{
    margin-left: 10px;
    margin-top: 10px;
}

.iconface{
    margin-left: 10px;
    margin-top: 10px;
}

.iconinsta{
    margin-left: 10px;
    margin-top: 10px;
}

body{
    background-color: #c0c0c0;
}

a {
  text-decoration: none;  /* tira o sublinhado */
  color: inherit;         /* usa a mesma cor do texto da div */
}

.email-p, .face-p, .insta-p, .zap-p{
    margin-top: 10px;
}









footer{
    background-color: black;
    height: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p{
    color: white ;
    background-color: black !important;
    
}
.p-footer{
    background-color: black !important;
}

.p-footer2{
    background-color: black !important;
    text-align: center;
}

.saida{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 20px;
}